.color-primary {
	color: #bc0023;
}
.background-primary {
	background-color: #bc0023;
}
.color-secondary {
	color: #ffc107;
}
.background-secondary {
	background-color: #ffc107;
}
.background-secondary-linear {
	background-image: linear-gradient(rgba(255, 193, 7, 1),rgba(233, 202, 22, 1));
}
 .icon-background {
    background-image: linear-gradient(rgba(255, 193, 7, 1),rgba(233, 202, 22, 1)); 
}

.bg-linear-primary {
	background: rgb(133,0,7);
background: linear-gradient(90deg, rgba(133,0,7,1) 0%, rgba(119,14,25,1) 100%);
}
.bg-linear-primary2 {
	  background: linear-gradient(90deg, rgb(150, 6, 13) 0%, rgb(172, 7, 24) 100%);
}

.p-7 {
 padding: 0.75rem;
}

.bg-red-smooth {
	background-color: #f6d4d4;
}
